<div class="ui text container">
    <div class="ui nospace right aligned basic segment">
        <a href="/ex-vanilla/tags">Tags</a>
    </div>
    <form class="ui form" action="/ex-vanilla/todos" method="POST">
        <div class="ui fluid input field">
            <textarea rows="5" name="todo" placeholder="What do you want to do today?"></textarea>
        </div>
        <div class="ui three fields">
            <div class="ui fluid field">
                <div class="ui selection dropdown">
                    <input name="tag1" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Tag</div>
                    <div class="menu">
                        {{#each tags}}
                        <div class="item" data-value="{{this.id}}">
                            <span class="ui mini label" style="background-color: {{this.color}}"></span> {{this.name}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="ui fluid field">
                <div class="ui selection dropdown">
                    <input name="tag2" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Tag</div>
                    <div class="menu">
                        {{#each tags}}
                        <div class="item" data-value="{{this.id}}">
                            <span class="ui mini label" style="background-color: {{this.color}}"></span> {{this.name}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="ui fluid field">
                <div class="ui selection dropdown">
                    <input name="tag3" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Tag</div>
                    <div class="menu">
                        {{#each tags}}
                        <div class="item" data-value="{{this.id}}">
                            <span class="ui mini label" style="background-color: {{this.color}}"></span> {{this.name}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui field">
            <div class="ui nospace borderless right aligned segment">
                <button type="submit" class="ui primary button">Create</button>
            </div>
        </div>
    </form>
    <div class="ui secondary menu">
        <a href="/ex-vanilla" class="ui {{#if incomplete}}active{{/if}} item">
            Todo
        </a>
        <a href="/ex-vanilla/completed" class="ui {{#if complete}}active{{/if}} item">
            Completed
        </a>
    </div>
    {{#each todos}}
        <div class="ui segment">
            <p>{{this.todo}}</p>
            <div class="ui basic nospace segment">
                {{#each this.tags}}
                    <a href="/" class="ui basic small label" style="color: white; background-color: {{this.color}}">{{this.name}}</a>
                {{/each}}
            </div>
            <div class="ui right aligned nospace borderless segment">
                {{#if this.is_complete}}
                    <form class="ui form" method="POST" action="/ex-vanilla/todos/{{this.id}}/incomplete">
                        <div class="ui field">
                            <button type="submit" class="ui mini button">
                                Mark as Inomplete
                            </button>
                        </div>
                    </form>
                {{else}}
                    <form class="ui form" method="POST" action="/ex-vanilla/todos/{{this.id}}/complete">
                        <div class="ui field">
                            <button type="submit" class="ui mini button">
                                Mark as Complete
                            </button>
                        </div>
                    </form>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
